<!DOCTYPE html>
<html lang="en">
    <head>
        <tile></title>
        <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='style/images/favicon.png') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    </head>

    <body class="framed fade-in card-text">
        <br><br><br>
        <p id="subtitle">Order Domino's Pizza</p>
        
        <center>

    <div id="pizza" class="container" style="padding-left:4%;padding-right:4%;width:45%; height:450px;background-color:#f0ebdf;overflow-y:scroll; overflow-x:hidden">
      <form action="http://127.0.0.1:5000/edominos" method="POST">
        <br>
        <br>
        <br>

        <div class="form-row align-items-center">
          {% if open==1: %}
          <table>
            <tr><th></th></tr>
            <tr><td>Select your pizza and sides!</td></tr>
            <tr><td>
              <select class="selectpicker" name="pizza" multiple data-live-search="true">
                {% for i in range(lenp) %}
                <option value="{{ pizza[i][1] }}" >
                  {% for j in range(2) %}
                    {{ pizza[i][j] }}
                  {% endfor %}
                    ${{ pizza[i][2] }}
                </option>
                {% endfor %}
              </select>
              </td></tr>

              <tr><td> &nbsp; </td></tr>

              <tr><td>Select your drink!</td></tr>
              <tr><td>
                <select class="selectpicker" name="coke" multiple data-live-search="true">
                  {% for i in range(lenc) %}
                  <option value="{{ coke[i][1] }}" >
                    {% for j in range(2) %}
                      {{ coke[i][j] }}
                    {% endfor %}
                    ${{ coke[i][2]}}
                  </option>
                  {% endfor %}
                </select>
                </td></tr>

                <tr><td> &nbsp; </td></tr>
                <tr><td> &nbsp; </td></tr>

                <tr><td> <button type="submit" class="btn btn-primary" style="margin-bottom:10px">Submit</button> </td></tr>


              </table>
              {% endif %}

              {% if open==0  %}
              <center>
                <h3>Oops. No local store is currently open. </h3>
                </center>
              {% endif %}

              <br>


            </div>
            {% if flag==1: %}
              <h5>Order placed for
                    {{ pizza[0] }}
                {% for i in range(1, lenp) %}
                    , {{ pizza[i] }}
                {% endfor %}
                {% for i in range(lenc) %}
                    , {{ coke[i] }}
                {% endfor %}
              </h5>
            {% endif %}
          </div>

        </form>


      </div>
      <br>
</center>

      <div class="feedItem feed" id="icons">
             
                 <a href={{ url_for('index') }}>
                                   <img src="{{ url_for('static', filename='style/images/back.png') }}"></a>
             
             </div>


</body>
</html>
