<!DOCTYPE html>
<html lang="en">
    <head>
        <tile></title>
        <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='style/images/favicon.png') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    </head>

    <body class="framed fade-in card-text">
        <br><br><br>
        <p id="subtitle">Inbox</p>






    <div class="container" style="height:450px;background-color:#f0ebdf;overflow-y:scroll; overflow-x:hidden">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Sender</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(length) %}

          <tr>
            <td>{{ sender }}</td>
            <td>{{ final[i] }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
    <br>
    <div class="float-md-right" style="margin-right:20px">
      <a href={{ url_for('esend') }}>
        <button type="button" class="btn btn-primary" data-toggle="modal" style="background-color:#f0ebdf; color:#000" data-target=".demo-popup">Message a friend</button>
      </a>
    </div><br>
    
    <div class="feedItem feed" id="icons">
    
        <a href={{ url_for('index') }}>
                          <img src="{{ url_for('static', filename='style/images/back.png') }}"></a>
    
    </div>
    
    

    </body>
    
</html>


