<!DOCTYPE html>
<html lang="en">
    <head>
        <tile></title>
        <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='style/images/favicon.png') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    </head>

    <body class="framed fade-in card-text">
        <br><br><br>
        <p id="subtitle">Book your ride with Ola</p>

        <center>


    <div class="container align-items-center" style="padding-left:9%;padding-right:4%;width:40%; height:450px;background-color:#f0ebdf;overflow-y:scroll; overflow-x:hidden">
      <br>
      <br>
      <br>

      <form action="http://127.0.0.1:5000/eola" method="POST">
        <table border = "0">
            <tr>
              <td>Date: &nbsp;  &nbsp; </td>
              <td><input type="date" id="date" value = "2020-09-20" name="date1"></td>
           </tr>

           <tr><td> &nbsp; </td><td></td></tr> <!-- lmao -->

           <tr>
              <td>Time:</td>
              <td> <select name="hour" class="custom-select mr-sm-1" style="width:60px" id="inlineFormCustomSelect">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11" selected>11</option>
                <option value="12">12</option>
              </select>

              :
              <select name="minutes" class="custom-select mr-sm-1" style="width:60px" id="inlineFormCustomSelect">
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
              </select>

              :
              <select name="time" class="custom-select mr-sm-1" style="width:80px" id="inlineFormCustomSelect">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
              </select>


            </td>

              <!-- time input couldnt work with tab and enter keys -->

           </tr>

          <tr><td> &nbsp; </td><td></td></tr>
          <tr><td> &nbsp; </td><td></td></tr>
           <tr>
              <td colspan="2">Where would you like to go?</td>
           </tr>
           <tr>
              <td colspan="2">

                  <select class="custom-select mr-sm-2" name="location" id="inlineFormCustomSelect">
                  <option value="402 Eve Street near Times Plaza">402 Eve Street near Times Plaza</option>
                  <option value="Target">Target</option>
                  <option value="McDonalds">McDonalds</option>
                  <option value="Mayo Clinic">Mayo Clinic</option>
                  <option value="Pharmacy">Pharmacy</option>
                  <option value="I have run out of groceries">Community center</option>
                </select>

              </td>
           </tr>
        </table>

        <br>
        <br>

        <button type="submit" class="btn btn-primary" style="margin-bottom:10px">Submit</button>
        <br>
        {% if flag==1: %}
          <h5>Cab booked!</h5>
        {% endif %}

</center>

    </div>
    
    <div class="feedItem feed" id="icons">
    
        <a href={{ url_for('index') }}>
                          <img src="{{ url_for('static', filename='style/images/back.png') }}"></a>
    
    </div>



</body>
</html>
