<!DOCTYPE html>
<html lang="en">
    <head>
        <tile></title>
        <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='style/images/favicon.png') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    </head>

    <body class="framed fade-in card-text">
        <br><br><br>
        <p id="subtitle">Games</p>

        <div class="feedItem feed" id="icons">
        
            <a href={{ url_for('gdino') }}>
                      <img src="{{ url_for('static', filename='style/images/dinosaur.png') }}"></a>
            <a href={{ url_for('index') }}>
                              <img src="{{ url_for('static', filename='style/images/back.png') }}"></a>
        
        </div>

    </body>
    
</html>
