<!DOCTYPE html>
<html lang="en">
    <head>
        <tile></title>
        <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='style/images/favicon.png') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/stylerr.css') }}">
    </head>

    <body class="framed fade-in card-text">
        
        <p id="title">
          <span style='color: purple'>v</span>
          <span style='color: blue'>a</span>
          <span style='color: green'>i</span>
        </p>
        <p id="subtitle">Visual Aided Interface</p>

        <div class="blue feedItem feed" id="icons">
        
            <a href={{ url_for('appliances') }}>
                      <img src="{{ url_for('static', filename='style/images/appliances.png') }}"></a>
            <a href={{ url_for('essentials') }}>
                              <img src="{{ url_for('static', filename='style/images/essentials.png') }}"></a>
            <a href={{ url_for('entertainment') }}>
                              <img src="{{ url_for('static', filename='style/images/entertainment.png') }}"></a>
            <a href={{ url_for('sos') }}>
                              <img src="{{ url_for('static', filename='style/images/sos.png') }}"></a>
        
        </div>

    </body>
    
</html>
